.idea/
.vscode/
node_modules/
/database/*.sqlite
src/utils/eastereggs/EasterEggs.js
src/utils/eastereggs/key
src/utils/eastereggs/iv
config/config.toml
*.iml
logs/*
package-lock.json
/database/archive/
.directory
/dist/
dist/
backups/