@font-face {
	font-family: Whitney;
	font-weight: 300;
	src: url(../ressources/fonts/whitney-300.woff) format("woff");
}

@font-face {
	font-family: Whitney;
	font-weight: 400;
	src: url(../ressources/fonts/whitney-400.woff) format("woff");
}

@font-face {
	font-family: Whitney;
	font-weight: 500;
	src: url(../ressources/fonts/whitney-500.woff) format("woff");
}

@font-face {
	font-family: Whitney;
	font-weight: 600;
	src: url(../ressources/fonts/whitney-600.woff) format("woff");
}

@font-face {
	font-family: Whitney;
	font-weight: 700;
	src: url(../ressources/fonts/whitney-700.woff) format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Whitney;
	list-style-type: none;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}
var {
	font-style: normal;
}

a {
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 15px 10%;
}

section {
	min-height: 400px;
	position: relative;
}

section a {
	color: #2b67a6;
}

footer {
	background-color: #23272a;
	color: white;
	min-height: 150px;
}

.copyright {
	font-weight: 500;
	font-size: 18px;
}

.copyright a {
	color: #2b67a6;
}

.fa-heart {
	color: #f54542;
}

.verySmallMargin {
	margin-top: 25px;
}

.smallMargin {
	margin-top: 50px;
}

.smallPadding {
	padding-top: 50px;
}

.smallMargin-pc {
	margin-top: 50px;
}
.smallMarginBottom {
	margin-bottom: 50px;
}

.mediumMargin {
	margin-top: 70px;
}

.largeMargin {
	margin-top: 250px;
}

code {
	background: #fff;
	padding: 5px;
	border-radius: 4px;
	font-family: "Fira Mono", sans-serif;
}

textarea {
	resize: vertical;
}

.margin {
	margin-top: 50px;
}

.background {
	background: #23272a;
	padding: 70px 0;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	padding: 0 10%;
}

.container .div-1 {
	display: flex;
	justify-content: end;
}

.container .div-2 {
	display: flex;
	justify-content: start;
}

.container .title {
	font-weight: 700;
	line-height: 120%;
	font-size: 60px;
	max-width: 450px;
	color: #23272a;
}

.container .text {
	text-align: left;
	color: #23272a;
	font-size: 24px;
	max-width: 450px;
	margin-top: 24px;
}

.background .text {
	color: white;
}

.background .title {
	color: white;
}

.invert {
	filter: invert(100%);
}

.container .description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.illustration {
	min-width: 150px;
	max-width: 450px;
	max-height: 253px;
	border-radius: 4px;
}

.question {
	min-width: 150px;
	max-width: 250px;
	min-height: 150px;
	max-height: 250px;
	margin-right: 50px;
}

.Bigquestion {
	min-width: 150px;
	max-width: 400px;
	min-width: 150px;
	max-height: 400px;
	margin-right: 50px;
}

.screen {
	text-align: center;
	border: solid;
	border-color: #262c32;
	border-radius: 10px;
	background-color: #36393f;
	margin-right: 50px;
}

.border {
	border: solid;
	border-color: #262c32;
	border-radius: 10px;
}

.longScreen {
	max-width: 400px;
	max-height: 515px;
	margin: 30px 50px 30px 0px;
}

.contact {
	min-width: 150px;
	max-width: 550px;
	margin-right: 10px;
	padding: 50px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.logo {
	margin-right: auto;
}

.plain {
	background: #fff;
	padding: 5px;
	border-radius: 4px;
}

.logo img {
	max-width: 200px;
}

.nav__links {
	list-style: none;
	display: flex;
}

.nav__links a,
.overlay__content a {
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}

.nav__links li {
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	text-decoration: underline;
}

/* Mobile Nav */

.menu {
	display: none;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: #23272a;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
}

.overlay--active {
	width: 100%;
}

.overlay__content {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.overlay a {
	padding: 15px;
	font-size: 24px;
	display: block;
	transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
	text-decoration: underline;
}

.overlay .close {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	color: #fff;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	width: 74%;
	right: 0px;
	border-radius: 0 0 15px 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: #23272a;
	padding: 6px 12px;
	text-decoration: none;
	text-align: center;
	display: block;
	font-weight: 600;
	line-height: 20px;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: #2b67a6;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .buttonLanguage {
	background-color: #fff;
	border-radius: 15px 15px 0 0;
	color: #23272a;
}

.languageIcon {
	width: 18px;
}

.shadowed {
	-o-box-shadow: 12px 12px 29px #555;
	-icab-box-shadow: 12px 12px 29px #555;
	-khtml-box-shadow: 12px 12px 29px #555;
	-moz-box-shadow: 12px 12px 29px #555;
	-webkit-box-shadow: 12px 12px 29px #555;
	box-shadow: 12px 12px 29px #555;
}

.hero-bg {
	min-height: 800px;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
		url(../ressources/backgrounds/background-min.webp);
	background-color: #7289da;
	background-size: 2000px;
	background-position: center;
	position: relative;
}

.header {
	min-height: 200px;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
		url(../ressources/backgrounds/background-min.webp);
	background-color: #7289da;
	background-size: 2000px;
	background-position: center;
	position: relative;
}

.note {
	margin-top: 30px;
	color: #fff;
	font-size: 1rem;
	font-family: "Merriweather", sans-serif;
	line-height: 1.5;
	text-align: center;
}

article.card {
	position: absolute;
	left: 50%;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 350px;
	-webkit-transform: translate(-50%, -50%) translateZ(0);
	transform: translate(-50%, -50%) translateZ(0);
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
article.card .thumb {
	width: auto;
	height: 260px;
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/new-york-city.png")
		no-repeat center;
	background-size: cover;
	border-radius: 3px;
}
article.card .infos {
	width: auto;
	height: 350px;
	position: relative;
	padding: 14px 24px;
	background: #fff;
	-webkit-transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
	transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .title {
	position: relative;
	margin: 10px 0;
	letter-spacing: 3px;
	color: #152536;
	font-family: "Grotesque Black", sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	text-shadow: 0 0 0px #32577f;
}
article.card .infos .flag {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 35px;
	height: 23px;
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/flag.png")
		no-repeat top right;
	background-size: 100% auto;
	display: inline-block;
}
article.card .infos .date,
article.card .infos .seats {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 0.85rem;
	color: rgba(21, 37, 54, 0.7);
	font-family: "Grotesque", sans-serif;
}
article.card .infos .seats {
	display: inline-block;
	margin-bottom: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	opacity: 0;
	-webkit-transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
	transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .txt {
	font-family: "Merriweather", sans-serif;
	line-height: 2;
	font-size: 0.95rem;
	color: rgba(21, 37, 54, 0.7);
	opacity: 0;
	-webkit-transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
	transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .details {
	position: absolute;
	left: 0;
	left: 0;
	bottom: 0;
	margin: 10px 0;
	padding: 20px 24px;
	letter-spacing: 1px;
	color: #4e958b;
	font-family: "Grotesque Black", sans-serif;
	font-size: 0.9rem;
	text-transform: uppercase;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
	transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card:hover .infos {
	-webkit-transform: translateY(-260px);
	transform: translateY(-260px);
}
article.card:hover .infos .seats,
article.card:hover .infos .txt,
article.card:hover .infos .details {
	opacity: 1;
}

.hero-infos {
	text-align: center;
	display: table;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	margin-top: 175px;
}

.smallWaves {
	position: absolute;
	top: 25px;
	right: 0;
	width: 100%;
	overflow: hidden;
}

.waves {
	position: absolute;
	bottom: -5px;
	right: 0;
	width: 100%;
	overflow: hidden;
}

.hero-infos .title {
	font-weight: 700;
	font-size: 56px;
	line-height: 110%;
	color: #fff;
}

.hero-infos .description {
	font-size: 20px;
	line-height: 110%;
	color: #fff;
	margin-top: 40px;
}

.button {
	cursor: pointer;
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	transition-property: background-color, color, box-shadow, mix-blend-mode;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	border: none;
}

.buttonLarge {
	line-height: 24px;
	border-radius: 28px;
	font-size: 20px;
	padding: 16px 32px;
}

.buttonSmall {
	border-radius: 28px;
	font-size: 16px;
	padding: 6px 22px;
	line-height: 22px;
}

.buttonWhite {
	background-color: #fff;
	color: #23272a;
}

.buttonJoin {
	margin-top: 24px;
}

.paddingWave {
	padding-bottom: 150px;
}

.buttonWhite:hover {
	color: #2b67a6;
}

.buttonIcon {
	margin-right: 16px;
}

.buttonSmallIcon {
	margin-right: 8px;
}

.buttonGrey {
	background: #23272a;
	color: #fff;
}

.buttonGrey:hover {
	background: #2a2e30;
}

.buttonUse {
	margin-left: 24px;
	margin-top: 24px;
}

.buttonUser {
	margin-left: 12px;
}

.buttonUserHover {
	display: none;
}

.buttonUser:hover .buttonUserNormal {
	display: none;
}

.buttonUser:hover .buttonUserHover {
	display: block;
}

.buttonLanguage {
	margin-left: 24px;
	background: none;
	transition: none;
	color: #fff;
	padding: 6px 12px;
	width: 69px;
}

.smallAvatar {
	max-height: 24px;
	border-radius: 100px;
}

.bold {
	font-weight: 600;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
	}

	.overlay .close {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

@media only screen and (max-width: 800px) {
	.pc-content {
		display: none;
	}

	.smallMargin-pc {
		margin-top: 0px;
	}

	.buttonUse {
		margin-left: 0px;
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.hero-infos .title {
		font-size: 36px;
	}

	.hero-infos .description {
		font-size: 18px;
		margin-top: 12px;
	}

	.hero-infos {
		text-align: left;
		padding: 0 10px;
	}

	.center {
		text-align: left;
	}

	.copyright {
		margin-bottom: 100px;
		font-size: 14px;
		text-align: justify;
	}
}

@media only screen and (max-width: 1537px) {
	#pc-menu,
	.nav__links,
	.cta {
		display: none;
	}

	.menu {
		display: initial;
	}

	.hero-bg {
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
			url(../ressources/backgrounds/background-min.jpg);
		background-size: 2500px;
		background-position: center;
	}
}

@media screen and (min-width: 2000px) {
	.waves {
		display: none;
	}
}
