name: CI

on:
    pull_request:
        branches: [ master, develop ]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Setup Node.js
                uses: actions/setup-node@v2
                with:
                    node-version: 18,16,14

            -   name: Install dependencies
                run: npm ci

            -   name: Build and test
                run: |
                    tsc && jest dist/test